<div class="container py-5">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="width: 100%">
      <h1>DorvakAuthServices homepage</h1>
      <p>Here you can find information about the services provided by DorvakAuthServices.</p>

      <div class="faq py-3">
        <h1>FAQ:</h1>
        <hr/>
        <h2>What is DorvakAuthServices?</h2>
        <p>DorvakAuthServices is a service that allows you to authenticate your users with a global authentication
          service</p>

        <h2>How do I use it?</h2>
        <p>You can use DorvakAuthServices by using the API endpoints. You can find the API documentation <a
          href="https://petstore.swagger.io/?url=https://raw.githubusercontent.com/DorvakOff/DorvakAuthServices/master/src/main/resources/openapi.yaml"
          target="_blank">here</a>.</p>

        <h2>Who is DorvakAuthServices for?</h2>
        <p>DorvakAuthServices is for developers who want to make their applications more secure and user-friendly.</p>

        <h2>Is DorvakAuthServices free?</h2>
        <p>Yes, DorvakAuthServices is free for everyone. You can use it for any purpose.</p>

        <h2>How can I contribute?</h2>
        <p>You can contribute to DorvakAuthServices by reporting bugs, suggesting features and making pull requests on
          our
          <a href="https://github.com/DorvakOff/DorvakAuthServices" target="_blank">GitHub repository</a>.</p>
      </div>
    </div>
  </div>
</div>
